.page-header {
  position: relative;
  height: 350px;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; 
  color: black; /* Sets the text color to black */
  text-align: center;
}

.header-content {
  max-width: 80%;
  padding: 20px;
  background-color: initial;
  /* margin-top: 20px; Moves the content up by 30px */
}

.header-title {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  letter-spacing: 1px;
  color: black; /* Ensures the title is black */
  border-bottom: 4px solid #007bff; /* Adds a blue underline */
  padding-bottom: 5px; /* Optional: Adds some space between the text and the underline */
}

.header-subtitle {
  font-size: 1.25rem;
  margin-top: 10px;
  line-height: 1.5;
  color: black; /* Ensures the subtitle is black */
}

@media (max-width: 1024px) {
  .page-header {
    height: 300px;
  }

  .header-title {
    font-size: 2.5rem;
  }

  .header-subtitle {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .page-header {
    height: 250px;
  }

  .header-title {
    font-size: 2rem;
  }

  .header-subtitle {
    font-size: 0.9rem;
  }
}
